header{
width:100%;
float:left;
position:fixed;
top:0px;
left:0px;
background-color:#ffe6f7;
box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
a{
background-color:Transparent;
color:black;
font-family:Lucida Sans Unicode;
font-size:24px;
text-align:left;
text-decoration: none;
display:inline-block;
padding:15px;
}
.imgicon{
width:30%;
border-radius:50%;
margin-left:20px;
}
.buttonleft{
padding-top:20px;
float:right;
}
body{
background-image: url("images/b2.jpg"); 
}
section{  
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;    
}
.columns
{
    float:left;
    width:20%;
    padding-right:10px;
}
.onclickimage{    
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:black !important;
}
.imgview
{
    text-align: center;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    background-color:black !important;
}
.columns img:hover{
    opacity: 0.6;
    transition: 0.3s
}
.columns img{
    padding-bottom:10px;
}
